WHATSAPP_VERIFY_TOKEN=honduraite_wa_verify_2026_secure
WHATSAPP_APP_SECRET=
WHATSAPP_ACCESS_TOKEN=
WHATSAPP_PHONE_NUMBER_ID=
WHATSAPP_TEMPLATE_TRIP_RECEIVED=tu_viaje_esta_confirmado
WHATSAPP_TEMPLATE_TRIP_CONFIRMED=viaje_confirmado
WHATSAPP_TEMPLATE_DRIVER_ARRIVED=conductor_llego
WHATSAPP_TEMPLATE_TRIP_COMPLETED=viaje_finalizado
WHATSAPP_TEMPLATE_DRIVER_NEW_TRIP=nuevo_viaje
WHATSAPP_TEMPLATE_LANG=es_HN
